// == Grid system

// Container width
.container {
    .container-fixed();
    width: @container-md;
    @media (max-width: @screen-xs) {
        width: @container-xs;
    }
    @media (min-width: @screen-sm) and (max-width: (@screen-md - 1)) {
        width: @container-sm;
    }
    @media (min-width: @screen-lg) {
        width: @container-lg;
    }
}

// Row
.row {
    .make-row();

    @media (max-width: @screen-sm) {
        .make-row(0);
    }
    @media (min-width: @screen-sm) and (max-width: (@screen-md - 1)) {
        .make-row(@grid-gutter-width-sm);
    }
    @media (min-width: @screen-lg) {
        .make-row(@grid-gutter-width-lg);
    }
}
